<article class="sidebar">
  <h1 class="sidebar-title">Certification on display</h1>
  <p class="sidebar-body">
    While you attend the Webinar, head over to our Certifications where you can
    check out some of the work from our Instructors.
  </p>
  <div class="pixgrid clearfix">
    <% artwork.forEach(function (item, key) {%>
    <img src="/images/artwork/<%=item%>" alt="Artwork <%=key %> " />
    <%})%>
  </div>
</article>
