<html>
  <head>
    <title>An error occured</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center" id="main">
      <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">
        <%=status%>
      </h1>
      <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc"><%=message%></h2>
      </div>
    </div>
  </body>
</html>
