doctype html
html
    head
        title Roux Meetups - #{pageTitle}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet" href="./css/style.css")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block" rel="stylesheet")
    body
        header
            .jumbotron.d-none.d-sm-block
            nav.navbar.navbar.navbar-expand-md.navbar-dark.bg-dark
                .container
                    button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
                        span.sr-only Toggle navigation
                        |           ☰
                    a.navbar-brand(href="./index.html") Roux Meetups
                    #navbar-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.ml-auto
                            li.nav-item
                                a.nav-link(href="./index.html") Home
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href="./speakers.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | Speakers
                                .dropdown-menu(aria-labelledby="navbarDropdown")
                                    a.dropdown-item(href="./speakers.html") All Speakers
                                    .dropdown-divider
                                    a.dropdown-item(href="#") Lorenzo Garcia
                                    a.dropdown-item(href="./Hillary_Goldwynn.html") Hilary Goldywynn Post
                                    a.dropdown-item(href="#") Riley Rudolph Rewington
                            li.nav-item
                                a.nav-link(href="./feedback.html") Feedback

        include ../pages/index.pug

        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src="/js/pixgrid.js")
